*, 
 *::after,
 *::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(178, 233, 250);
    color:rgb(69, 71, 73);
    font-family: sans-serif;
}




.header-top {
 display: flex;
 justify-content: center;
 font-size: 1.5rem;
 padding-top: 50px;
 padding-bottom: 50px;
}

.local {
    display: flex;

}

.header-left {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    padding: .5rem;
    border-right: 2px solid rgb(69, 71, 73);
}
.header-right {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    padding: .5rem;
}

.find {
    display: flex;
    margin: 25px;

}
.buttons {
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;

}

.input {
    display: flex;
    flex-wrap: wrap;
    width: 71vw;
    border: 1px solid rgb(69, 71, 73) ;
    
}
.card {
    display: flex;
    justify-content: center;
    border: 2px solid rgb(69, 71, 73);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 25px;
}
.weather-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.weather-icon.large {
    width: 80px;
    height: 80px;
}

.header-temp-current {
    font-size: 2rem;
    margin-left: 1rem;
}
.header-city-current{
    font-size: 2rem;
    padding-left: 20px;
}


.info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6rem;
    color:rgb(88, 91, 94) 

}

.value-sub-info {
    font-weight: lighter;
    font-size: 0.75rem;
}

.day-section {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat (auto, 75px);
    gap: .5rem;
    justify-content: center;
    padding: 1rem;
}

.day-card {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    border: 1px solid rgb(69, 71, 73);
    border-radius: 0.25rem;
    padding: 0.25rem;
    background-color: white;
}

.day-card-day {
    font-size: 0.75rem;
    color:rgb(69, 71, 73);
    margin-top: 0.5rem;
}

.quoted {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: white;
}

.city-section {
    /* width:100%; */
    text-align: center;
    
}


.city-row {
    background-color: white;
    border: 3px rgb(69, 71, 73); 
    border-radius:0.25rem;
    
}
.city-row:nth-child(2n) {
    background-color: rgb(196, 193, 193);
    border:rgb(69, 71, 73); 
    border-radius:0.25rem;
}

.city-row > td {
    padding: 0.5rem 1.5rem 
    
}